<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    {{>headers}}
    <p>This site was created by Anshul. It uses data from different sites</p>
    <img src="/img/robot.png">
    <p>Created By: {{name}}</p>
    {{>footer}}
</body>

</html>